<head>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <%- include("partials/header") %>
        <h1>New Animal Form</h1>
        <form action="/animals/new" method="POST">
            <label for="name">Name</label>
            <input type="text" name="name" id="name">

            <label for="categoryId">Category</label>
            <select name="categoryId" id="categoryId">
                <%categories.forEach((category)=> { %>
                    <option value="<%= category.id %>">
                        <%= category.name %>
                    </option>
                    <%})%>
            </select>

            <label for="age">Age</label>
            <input type="number" name="age" id="age">

            <label for="price">Price</label>
            <input type="number" name="price" id="price">

            <label for="status">Status</label>
            <select name="status" id="status">
                <option value="available">available</option>
                <option value="unavailable">unavailable</option>
            </select>

            <label for="description">Description</label>
            <textarea name="description" id="description" placeholder="Is cute!"></textarea>

            <input type="submit" value="Submit">
        </form>
</body>