<head>
    <title>
        <%= title %>
    </title>
</head>

<body>
    <%- include("partials/header") %>
        <h1>New Category Form</h1>
        <% if (errors && errors.length> 0) { %>
            <ul class="error-list">
                <% errors.forEach(error=> { %>
                    <li>
                        <%= error.msg %>
                    </li>
                    <% }) %>
            </ul>
            <% } %>

                <form action="/categories/new" method="POST">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name">

                    <label for="description">Description</label>
                    <textarea name="description" id="description" placeholder="Fluffy animal"></textarea>

                    <input type="submit" value="Submit">
                </form>
</body>